html, body, *,*:before,*:after {
margin: 0;
margin: 0;
box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-stars{
    position: relative;
    background-image: url(../img/bg-stars.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 400px;
    min-width: 230px;

}

.info-game{
color: white;
font-weight: 400;
font-size: 12pt;
font-family: fantasy, sans-serif;
text-align: center;
opacity: 0.5;
margin-top: 15px;
}

#plane{
    position: absolute;
    height: 200px;
    width: 360px;
}


#rocket{
    position: absolute;
    height: 90px;
    width: 60px;
    rotate: -90deg;
    right: 10px;
}